body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: 'Gentium Book Plus', serif;
  
}

p {
  color: rgb(10, 173, 10);
  text-align: center;
  font-size: 20px;
}

.topleft-nav{
 border: none;
 background-color: white;
 overflow: hidden;
 position: absolute;
 top: 210px;
 left: 100px;
}

.topleft-nav a {
  color: darkgray;
  text-align: center;
  font-size: 25px;
  font-family: 'Gentium Book Plus', serif;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  margin: 0 auto;
}

audio {
  position: absolute;
  top: 0px;
  right: 0px;
}

footer {
  color: black;
  font-family: 'Gentium Book Plus', serif;
  font-size: 12px;
  text-align: center;
}